<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-img class="navbar-logo" src="assets/fast-notes-logo-v02.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
    <ion-buttons slot="end">
      <button class="primary-button icon" *ngIf="notes.length >= 1" (click)="addNote()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="notes.length <= 0" scroll-y="false">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center ion-padding">
        <h1>
          Ninguna nota aun
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur. Dui leo dolor scelerisque eu mi facilisis id. Ac pharetra tortor
          dignissim
          sit.
        </p>
      </div>
      <img src="assets/note-3d.jpg" alt="note 3d">
      <button class="primary-button" (click)="addNote()">
        <ion-icon name="document-text-outline"></ion-icon>
        Añadir nota
      </button>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-content *ngIf="notes.length >= 1">
  <ion-list>
    <ion-item *ngFor="let note of notes">
      <ion-label>
        <h2>{{ note.title }}</h2>
        <p>{{descriptionTrim(note.content)}}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" shape="round" (click)="viewNote(note.id)">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" color="danger" fill="clear" shape="round" (click)="deleteNote(note.id)">
        {{note.id}}
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>