<ion-header>
  <ion-toolbar>
    <ion-title>{{ note.id ? 'Edit Note' : 'New Note' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveNote()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Titulo</ion-label>
    <ion-input [(ngModel)]="note.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contenido</ion-label>
    <ion-textarea [(ngModel)]="note.content"></ion-textarea>
  </ion-item>

  <ion-item *ngIf="note.image">
    <img [src]="note.image" />
  </ion-item>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <button expand="block" (click)="takePhoto()" class="primary-button">
        <ion-icon name="camera-outline"></ion-icon>
        Añadir foto
      </button>
    </ion-row>
  </ion-grid>
</ion-content>